<html>
<head>
  <title>Customize your Character!</title>
  <!-- Angular -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Angular App -->
  <script src="javascripts/app.js"></script>
  <!-- Styles -->
  <link rel="stylesheet" href="stylesheets/style.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand" />
</head>
<body ng-app="character" ng-controller="MainCtrl">
  <div class="container">
    <div class="page-header text-center"> 
      <h1>Customize your Character!</h1>
    </div><hr/>
    <div class="row">
      <div class="col-md-5 offset-md-1">
        <img class="createImage" src="images/{{selectedChar}}">
      </div>
      <div class="col-md-4" id="creationForm">
        <h3>Character Traits</h3>
        <form ng-submit="addCharacter()">
          <div class="input-group mb-3"><input class="form-control" placeholder="Character Name" type="text" ng-model="name" required></input></div>
          <div class="input-group mb-3"><input class="form-control" placeholder="Tagline" type="text" ng-model="tagline" required></input></div>
          <div class="input-group mb-3">
            <select class="custom-select" ng-model="type" required>
              <option value="" disabled selected hidden>Character Type</option>
              <option value="Warrior">Warrior</option>
              <option value="Mage">Mage</option>
              <option value="Archer">Archer</option>
              <option value="Assassin">Assassin</option>
              <option value="Healer">Healer</option>
              <option value="Paladin">Paladin</option>
              <option value="Bandit">Bandit</option>
              <option value="Pirate">Pirate</option>
              <option value="Samurai">Samurai</option>
              <option value="Peasant">Peasant</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <select class="custom-select" ng-model="strength" required>
              <option value="" disabled selected hidden>Strength</option>
              <option value="Defense">Defense</option>
              <option value="Attack">Attack</option>
              <option value="Hitpoint">Hitpoints</option>
              <option value="Magic">Magic</option>
              <option value="Ranged">Ranged</option>
            </select>
          </div>
          <div class="input-group mb-3"><input class="form-control" placeholder="Weakness" type="text" ng-model="weakness" required></input></div>
          <button class="btn btn-primary" type="submit">Create Character!</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
